.Card {
  border-radius: 10px !important;
  width: 60% !important;

  cursor: pointer;

  @media (max-width: 1205px) {
    width: 70% !important;
  }

  @media (max-width: 918px) {
    width: 100% !important;
  }

  .CardContent {
    display: flex;
    padding: 0px !important;

    @media (max-width: 750px) {
      flex-direction: column-reverse;
    }

    .CardInfo {
      display: flex;
      flex-direction: column;
      padding: 16px;
      min-width: 27rem;

      @media (max-width: 860px) {
        min-width: 0;
      }

      h1 {
        margin: 0px;
        text-align: left;
      }
      h4 {
        font-size: 0.8125rem;
        font-weight: inherit;
      }
    }

    .Tags {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .Left {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        user-select: none;
        margin-top: auto;
        width: 100%;
        background: #d3d3d340;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        height: 2rem;

        @media (max-width: 750px) {
          visibility: hidden;
          height: 0;
        }
      }
    }
  }
}
