.Content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2rem;
  margin-top: 135px;

  button {
    margin-top: 10px;
    text-transform: none;
  }
  .Alert {
    margin-top: 10px;
  }
}

.Form {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr;
  grid-template-rows: 0.2fr 0.2fr;
  gap: 2rem;
  grid-template-areas:
    'username email'
    'memo memo';

  .Memo {
    grid-area: memo;
  }
  .Username {
    grid-area: username;
  }
  .Email {
    grid-area: email;
  }

  @media (max-width: 860px) {
    display: grid;
    width: 100%;

    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas:
      'username username'
      'email email'
      'memo memo';
  }
}

.BackGround {
  position: fixed;
  bottom: -70px;
  right: 4px;
  z-index: -1;
  img {
    width: 576px;
  }
  @media (max-width: 860px) {
    visibility: hidden;
  }
}
