.Home {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.Profile {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .Picture {
    img {
      border-radius: 5px;
    }
  }

  .About {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
    .Picture {
      width: 70%;
    }
  }
}

.Social {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin: 6px 0;
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}

.Illustration {
  position: fixed;
  bottom: -106px;
  right: 4px;
  z-index: -1;
  img {
    width: 576px;
  }

  @media (max-width: 860px) {
    visibility: hidden;
  }
}
