.ProfilePic {
  min-width: 190px;
  max-width: 300px;
  img {
    border-radius: 5px;
  }
}

.Home {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  h1 {
    font-size: 42px;
    margin: 0px 0px 1rem 0px;
  }
}

.Bio {
  display: flex;
  gap: 1.5rem;
  width: 90%;

  @media (max-width: 860px) {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}

.About {
  display: flex;
  flex-direction: column;
}

.Social {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin: 6px 0;
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}

.BackGround {
  position: fixed;
  bottom: -106px;
  right: 4px;
  z-index: -1;
  img {
    width: 576px;
  }
  @media (max-width: 860px) {
    visibility: hidden;
  }
}
